/* body {
    font-family: 'Montserrat, sans-serif'
} */

h1 {  
    /* font-family: 'Montserrat, sans-serif';   */
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h3{
    font: 2.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 10% 7%;
}


/* Navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2rem;
    font-weight: bold
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}

/* features */

.row-center{
    text-align: center;
}

.feature-box{
    margin: 50px 0;
    text-align: center;
    padding: 1rem;
}

.feature-box h3{
    font-size: 1.5rem;
    font-weight: bold
}

.fauture-box p{
    color: #8f8f8f

}

.icon {
    width: 100%;
    font-size: 4rem;
    color: #ef8172;
    padding-bottom: 15px;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
     padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    margin: 100px;
    text-align: center;
}

.pricing-col{
    padding: 3% 2%;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

#cta{
    background-color: #ff4c68;
    padding: 7% 20%;
    text-align: center;
    color: white;
}

#footer{
    background-color: white;
    padding: 7% 20%;
    text-align: center;
}

#footer i{
    padding: 20px 8px;
}

#footer p{
    font-size: 0.9rem;
    color: #8f8f8f;
}

@media (max-width: 990px) {
    .title-img{
        transform: rotate(0);
        position: static;
    }
}

